.item-card {
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  margin: 1rem 0;
  width: 30vw;
  color: #444444;
}

.list-items {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.4);
}

.list-item-category {
  height: auto;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  padding: 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.2em;
  font-weight: 700;
  text-shadow: 1.5px 1.5px 6px rgba(0, 0, 0, 0.5);
  vertical-align: bottom;
  background-color: #C2A080; 
}

.list-item-gear {
  height: auto;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  padding: 0.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.2em;
  text-shadow: 1.5px 1.5px 6px rgba(0, 0, 0, 0.5);
  vertical-align: bottom;
  background-color: #C2A080; 
}

.item-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
  align-content: stretch;
}

.edit {
  font-weight: 700;
  cursor: pointer;
  background-color: #D1C6C3;
  border: none;
  font-size: 1em;
  text-shadow: 1.5px 1.5px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  vertical-align: middle;
  color: #444444;
}

.edit:hover {
  transition-duration: 575ms;
  color: blue;
  font-size: 1.2em;
}

.delete {
  font-weight: 700;
  font-size: 1em;
  border: none;
  background-color: #D1C6C3;
  margin-left: 1em;
  text-shadow: 1.5px 1.5px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  vertical-align: middle;
  color: #444444;
}

.delete:hover {
  transition-duration: 575ms;
  color: red;
  font-size: 1.2em;
}

hr {
  border: 0;
  height: 1px;
  display: block;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
}