.update {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
  align-content: stretch;
  width: 30vw;
}

.update-inputs {
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.edit-item {
  height: 7vh;
  width: 14.5vw;
  font-size: 1.5em;
  padding-left: 0.2em;
  vertical-align: bottom;
  border-radius: 5px;
  text-overflow: ellipsis;
  box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.4);
}

.update-buttons {
  margin-bottom: 1rem;
  width: 37%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: stretch;
}

.edit-item-button {
  height: 5vh;
  padding: 0 0.8em;
  background-color: #76323F;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.4);
}

.edit-cancel-button {
  height: 5vh;
  padding: 0 0.8em;
  margin-left: 0.5em;
  background-color: #76323F;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.4);
}

.update-hr {
  border: 0;
  height: 1px;
  display: block;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}