header {
  text-align: center;
  background-color: #FFFFFF;
  height: 13vh;
  color: #565656;
  position: fixed;
  top: 0;
  width: 100vw;
  text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

h1 {
  font-size: 2.5em;
}

nav {
  margin-left: 1em;
  text-transform: uppercase;
  font-size: 1em;
}

a {
  margin-right: 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
}