.filter {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

.filter-input {
  margin-bottom: 0.7em;
}

.filter-item-input {
  width: 18.5vw;
  height: 7vh;
  font-size: 1.5em;
  padding-left: 0.5vw;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.4);
}

.filter-buttons {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
  align-content: stretch;
  margin-top: auto;
} 

.filter-button {
  height: 5vh;
  width: 8vw;
  background-color: #76323F;
  border: none;
  font-size: 1em;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.4);
}

.remove {
  margin-left: 0.5em;
}