footer {
  position: fixed;
  bottom: 0;
  height: 7vh;
  width: 100vw;
  background-color: #FFFFFF;
  text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #565656 !important;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

a {
  margin-right: 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
}